@using Classic_ASBlazor.Components.Layouts
@using Classic_ASBlazor.Components.Partial
@layout BaseLayout
<h2>Home</h2>

<p>Sample Home Page</p>

@*#if (!Blazor)
<Counter/>
#endif*@
<a href="/sample">Go To Sample Page</a>

@code {
    
}